.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f7fafa;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid black;
}
.searchicon{
    height: 30px;
}
.input{
    width: 400px;
    height: 30px;
    border-width: 0px;
}
.signupbtn{
    background-color: #e33719;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border-width: 0px;
    margin-right: 10px;
    width: 100px;
}
.loginbtn{
    background-color: #0792e3;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border-width: 0px;
    margin-right: 10px;
    width: 100px;
}
.cart-count-badge {
    background-color: #bfdbfe;
    color: #0967d2;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 8px;
  }
  .nav-bar-img {
    width: 24px;
  }